/* fix default datatables css floating these right */
div.DTTT_container {
    float: none;
}
div.dataTables_length {
    float: right;
}
/*
div.dataTables_paginate {
    float: none;
}
*/

.left-bordered {
}

#full-content {
    position: absolute;
    top: 81px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}