{% extends "lizard_ui/lizardbase.html" %}
{% load i18n %}

{% block css %}
{{ block.super }}
<link rel="stylesheet"
      type="text/css"
      href="{{ STATIC_URL }}ddsc_management/DataTables-1.9.4/bootstrap/dataTables.bootstrap.css" />
<link rel="stylesheet"
      type="text/css"
      href="{{ STATIC_URL }}ddsc_management/DataTables-1.9.4/extras/TableTools/css/TableTools.css" />
<link rel="stylesheet"
      type="text/css"
      href="{{ STATIC_URL }}ddsc_management/main.css" />
{% endblock css %}

{% block map-javascript %}
<script type="text/javascript">
if (typeof lizard === 'undefined') {
    var lizard = {};
}
lizard.static_url = '{{ STATIC_URL }}';
</script>
<script type="text/javascript"
        src="{{ STATIC_URL }}ddsc_management/DataTables-1.9.4/js/jquery.dataTables.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}ddsc_management/DataTables-1.9.4/bootstrap/dataTables.bootstrap.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}ddsc_management/DataTables-1.9.4/extras/TableTools/js/ZeroClipboard.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}ddsc_management/DataTables-1.9.4/extras/TableTools/js/TableTools.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}ddsc_management/DataTables-1.9.4/js/fnReloadAjax.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}ddsc_management/main.js"></script>
<script type="text/html" id="modal-template">
    <div class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal-header-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-header-label"></h3>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button class="btn modal-cancel" data-dismiss="modal" aria-hidden="true">{% trans 'Cancel' %}</button>
            <button class="btn btn-primary modal-continue">{% trans 'Continue' %}</button>
        </div>
    </div>
</script>
<script type="text/html" id="add-edit-detail-template">
    <div class="row">
        <div class="span12 content">
        </div>
    </div>
    <div class="row">
        <div class="span12 buttons">
            <button class="btn btn-info edit"><i class="icon-edit"></i> {% trans 'Edit item' %}</button>
            <button class="btn btn-info add"><i class="icon-plus"></i> {% trans 'Add a new item' %}</button>
            <button class="btn cancel"><i class="icon-arrow-left"></i> {% trans 'Return' %}</button>
        </div>
    </div>
</script>
{% endblock map-javascript %}

{% block sidebar %}
<ul>
    <li>base</li>
</ul>
{% endblock %}

{% block main-area %}
<div id="full-content">
{% block content %}
<div>base</div>
{% endblock %}
</div>
{% endblock %}
