{% load i18n %}
<div>
    <form method="post" class="form-horizontal">{% csrf_token %}
        <fieldset>
            <legend>{{ form_name|default:_('Form') }}</legend>
            {% if form.errors %}
                <div class="alert alert-block fade in">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    <p>{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
                </div>
            {% endif %}
            <p>
                {{ form_text|default:_('Please fill in the form below') }}
            </p>
            {% for field in form %}
                {% include 'ddsc_management/form_field.html' %}
            {% endfor %}
            <div class="actions">
                <button type="submit" class="btn btn-primary">{{ submit_button_text|default:_('Submit') }}</button>&nbsp;<button type="reset" class="btn">{% trans 'Reset values' %}</button>
            </div>
        </fieldset>
    </form>
</div>