{% extends "ddsc_management/base.html" %}
{% load i18n %}

{% block content %}
<div class="container-fluid">
<div class="row-fluid">
<div class="span6">
    <legend>All available timeseries</legend>
    <table
        cellpadding="0" cellspacing="0" border="0"
        class="data-table table table-bordered table-hover"
        data-url="{% url ddsc_management.api.timeseries.list %}"
        data-delete-url="{% url ddsc_management.api.timeseries.delete %}"
        data-columns='[
            {
                "sName": "code",
                "sTitle": "{% trans 'Code' %}"
            },
            {
                "sName": "name",
                "sTitle": "{% trans 'Name' %}"
            }
        ]'>
        <thead>
        </thead>
        <tbody></tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
<div id="detail-view" class="span6">
    <div class="row">
        {% if action == 'detail' %}
            <legend>Details</legend>
            <h2>{{ object.name }}</h2>
        {% elif action == 'add' %}
            {% url ddsc_management.timeseries.add as action %}
            {% with form=form form_id='add-form' form_header=_('Add item') action=action %}
            {% include 'ddsc_management/form.html' %}
            {% endwith %}
        {% elif action == 'edit' %}
            {% url ddsc_management.sources.edit pk=pk as action %}
            {% with form=form form_id='edit-form' form_header=_('Edit item') action=action %}
            {% include 'ddsc_management/form.html' %}
            {% endwith %}
        {% elif action == 'list' %}
            <legend>Details</legend>
            <p>No item selected.</p>
        {% endif %}
    </div>
    <div class="row">
        <div class="span12">
            {% if action == 'detail' %}
            <a href="{% url ddsc_management.sources.edit pk=pk %}" class="btn btn-info dynamic-link" data-target="detail-view"><i class="icon-edit"></i> Edit item</a>
            {% endif %}
            {% if action == 'detail' or action == 'list' %}
            <a href="{% url ddsc_management.timeseries.add %}" class="btn btn-info dynamic-link" data-target="detail-view"><i class="icon-plus"></i> Add a new item</a>
            {% endif %}
            {% if action == 'add' or action == 'edit' %}
                <a href="{% url ddsc_management.timeseries.list %}" class="btn dynamic-link" data-target="detail-view"><i class="icon-ban-circle"></i> Cancel</a>
            {% endif %}
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
